@font-face {
    font-family: font-reg;
    src: url(http://localhost:3000/files/get/public/webindows/public/Assets/w2000_font.ttf);
}
@font-face {
    font-family: font-fat;
    src: url(http://localhost:3000/files/get/public/webindows/public/Assets/w2000_font_fat.ttf);
}

:root {
    --shadow-300: #000000;
    --shadow-200: #808080;
    --shadow-100: #ffffff;

    --grey-300: #808080;
    --grey-200: #c0c0c0;
    --grey-100: #ffffff;

    --blue-200: #08256a;
    --blue-100: #396da5;

    --border-radius: 1px;
    --border-radiusn: -1px;

    --grey: #b0b0b0;

    --white: #fff;
    --black: #000;

    --font-reg: font-reg;
    --font-fat: font-fat;

    font-size: small;
}

body {
    font-family: var(--font-reg);
    background-color: black;
    background: no-repeat center center fixed;
}

.winCl-DividerVertical {
    width: calc(var(--border-radius) * 2);
    background-color: var(--shadow-200);
    box-shadow: var(--border-radius) 0px 0px var(--shadow-200) inset,
        var(--border-radiusn) 0px 0px var(--shadow-100) inset;
}

.winCl-DividerBigVertical {
    margin-left: 4px;
    width: calc(var(--border-radius) * 3);
    background-color: var(--grey-200);
    box-shadow: var(--border-radiusn) var(--border-radiusn) 0px var(--shadow-200) inset,
        var(--border-radius) var(--border-radius) 0px var(--shadow-100) inset;
}

.winCl-DividerHorizontal {
    height: calc(var(--border-radius) * 2);
    background-color: var(--shadow-200);
    box-shadow: 0px var(--border-radius) 0px var(--shadow-200) inset,
        0px var(--border-radiusn) 0px var(--shadow-100) inset;
}

.winCl-HardInsetShadow {
    box-shadow: var(--border-radiusn) var(--border-radiusn) 0px var(--shadow-100) inset,
        var(--border-radius) var(--border-radius) 0px var(--shadow-200) inset,
        calc(var(--border-radiusn) * 2) calc(var(--border-radiusn) * 2) 0px var(--grey-200) inset,
        calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0px var(--shadow-300) inset;
}

.winCl-LightInsetShadow {
    box-shadow: var(--border-radiusn) var(--border-radiusn) 0px var(--shadow-100) inset,
        var(--border-radius) var(--border-radius) 0px var(--shadow-200) inset;
}

.winCl-HardOutsetShadow {
    box-shadow: var(--border-radius) var(--border-radius) 0px var(--shadow-100) inset,
        var(--border-radiusn) var(--border-radiusn) 0px var(--shadow-200) inset,
        var(--border-radius) var(--border-radius) 0px var(--shadow-300),
        var(--border-radius) 0px 0px var(--shadow-300), 0px var(--border-radius) 0px var(--shadow-300);
}

.winCl-LightOutsetShadow {
    box-shadow: var(--border-radius) var(--border-radius) 0px var(--shadow-100) inset,
        var(--border-radiusn) var(--border-radiusn) 0px var(--shadow-200) inset;
}

.turnOff {
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;
}
